#rain {
    background-image: url(https://mocah.org/uploads/posts/3433040-zambezi-river-south-africa-rainbow-rainbows-fog-mist-night-waterfalls-rivers-gorge-sky-stars-lights-trees.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
     
}
#ni{
    text-align: center;
    font-size: 60px;
    color:chocolate;
    font-family:  Calibri;
}
#mi{
    background-color: rgb(197, 216, 243);
    height: 840px;
}
 #mo{
    background-color: rgb(197, 216, 243);

}
#bra{
    color: black;
    font-size: 35px;
    text-align: center;
margin-top: 250px;
}
.row{
    margin: 1px;
}
h1{
    text-align: center;
    color: rgb(10, 37, 10);
    text-decoration: underline;
} 